<div class="container container--narrow">
  <header class="page__header page__header--centered">
    <h1 class="page__title heading h1">{{ page.title }}</h1>
  </header>
  <div class="page__content rte">
    {{ page.content }}
  </div>
</div>
<div class="container">
  <div id="net-form">
    <div style="margin:0 auto;" class="pxFormGenerator" id="JqnS4S-np6pxv7-7nq-W_Q"></div>
  </div>
</div>
<style>
  .hulk_form_JqnS4S-np6pxv7-7nq-W_Q .form-group.col-sm-12.phone.paymentCount {
    display: block;
    width: 60%!important;
}
.hulk_form_JqnS4S-np6pxv7-7nq-W_Q .form-group.col-sm-6.paymentCount {
    display: block;
    width: 30%!important;
}
.hulk_form_JqnS4S-np6pxv7-7nq-W_Q .form-group.col-sm-12.label.paymentCount {
    width: 100%!important;
    display: block;
}
.hulk_form_JqnS4S-np6pxv7-7nq-W_Q .form_container {
    display: flex;
    flex-wrap: wrap;
    width: 100%!important;
}
</style>