<div class="container container--narrow">
  <header class="page__header page__header--centered">
    <h1 class="page__title heading h1">{{ page.title }}</h1>
  </header>

  <div class="page__content rte">
    {{ page.content }}
  </div>
<!--   {% section 'custom-logo-slider' %} -->
</div>

 
    <section class="quote-sec">
      <div class="container">
        <div class="cus-head">
          <h2>What our customer's saying</h2>
        </div>
        <div class="cus-quotes">
        
        <div class="quote">

          <div class="q-details">
              <div class="q-heading">
                <h2>"Fast service for obsolete parts"</h2>
              </div>
              <div class="q-text">
                <p>Increasingly PLC/ HMI control platforms are becoming obsolete and parts are no longer supported, 
                  however PLC Direct had the HMI we needed and fast shipping for our system to get back online!</p>
              </div>
              <div class="q-sign">
                <div class="q-img">
                  <img src="https://cdn.shopify.com/s/files/1/0349/2973/7859/files/ge.png?v=1650990871">
                </div>
                <em>Buyer at GE Health</em>

              </div>
          </div>
        </div>
        <div class="quote">

          <div class="q-details">
              <div class="q-heading">
                <h2>"Helping us move projects forward"</h2>
              </div>
              <div class="q-text">
                <p>With supply chain issues increasingly affecting our business, PLC Direct has been there for us to supply the PLC products we need, 
                  when we need it. If they don't have it readily available, they find it and provide it quickly and reliably. This has helped us move 
                  forward with several projects that would have otherwise taken us many, many months to complete.</p>
              </div>
              <div class="q-sign">
                <div class="q-img">
                  <img src="https://cdn.shopify.com/s/files/1/0349/2973/7859/files/em.png?v=1650990871">
                </div>
                <em>Buyer at E-Merge Systems – A Rockwell Integrator</em>
              </div>
          </div>
        </div>
      </div> 
      </div>
    </section>
  
  {% section 'new-trust-image-with-text' %}